*{
    margin: 0;
    padding: 0;

}
.outer{
    border: 2px solid yellow;
    width: 100%;
    margin: 0%;
    padding: 0%;
}
.nav-bar{
   
    height: 50px;
    background-color: blue;
    padding: 10px;
    display: flex;
    justify-content:space-between;
    color: white;
    margin-bottom: 1px;

}
.nav-bar-logo{
    width: 50%;
    color: white;
    height: 40px;
    font-size: 34px;
}
.nav-bar-others{
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding-right: 10px;
}

.loginbtn span a {
    color: white;
    height: 40px;
    align-items: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    justify-content: space-between;    
}
.cart-icon a i{
   
    
    height:40px;
    color: white;
    
    font-size: 30px;
}
.price{
    background-color: rgb(238, 223, 223);
    padding-top: 5px;
}
/* ------------------------------------------------------------ */
.main{
    background-color:#F8E8D9;
    height: calc(100%-20%);
}
/*  .carousel.slide{
    
    width:100%;
    height: 300px;
}
.carousel-inner .item.active , .carousel-inner .item{
    height: 300px;
}
*/
/*  .main-carousal{
    width: 100%;
    
    border: 2px solid purple;
}
  
.main-carousal{
    transition: 1s ease-in-out;
    animation: carousal 5s linear infinite;
}
@keyframes carousal {
    
}
.main-carousal > img {
    width: 100%;
    height: 150px;
    
}
*/
/* Slideshow container */
.slideshow-container {
    width: 100%;
    position: relative;
    margin: auto;
    height: 300px;
  }
  
  /* Hide the images by default */
  .mySlides img{
    height: 300px;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation 
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
*/
.categories-header{
   text-align: center;

}
.categories-content  {
    gap: 15px;
    padding: 2%;
    display: flex;
    justify-content: center;
    
}
.categories-content >img{
    height: 150px;
    width: 150px;
    border-radius: 2px;

}
.p-newarrival{
    padding: 0px 20px;
    
}
.p-n-header{
    display: flex;
    justify-content: space-between;
}
.p-n-header-name{
    color: red;
}
.p-n-header-viewbtn a button{
    margin-left: 100px;
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.p-n-content{
    gap:10px;
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    
}
.p-n-content div img {
    height: 180px;
    width: 180px;
    border-radius: 2px;
}
.p-fan{
    padding: 0px 20px;
}
.p-f-header{
    display: flex;
    justify-content: space-between;
}
.p-f-header-name{
    color: red;
}
.p-f-header-viewbtn a button{
    margin-left: 100px;
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.p-f-content {
    gap: 10px;
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    
}
.p-f-content div img {
    height: 180px;
    width: 180px;
    border-radius: 2px;
}
.p-motor{
    padding: 0px 20px;
    
}
.p-m-header{
    display: flex;
    justify-content: space-between;
}
.p-m-header-name{
    color: red;
}
.p-m-header-viewbtn a button{
    margin-left: 100px;
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}
.p-m-content{
    gap: 10px;
    padding: 2%;
    display: flex;
    flex-wrap: wrap;

}
.p-m-content div img {
    height: 180px;
    width: 180px;
    border-radius: 2px;
}
.p-geyser{
    padding: 0px 20px;
    
}
.p-g-header{
    display: flex;
    justify-content: space-between;
}
.p-g-header-name{
    color: red;
}
.p-g-header-viewbtn a button{
    margin-left: 100px;
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.p-g-content{
    gap: 15px;
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    
}
.p-g-content div img {
    height: 180px;
    width: 180px;
    border-radius: 3px;
}
.p-electrickettle{
    padding: 0px 20px;
    

}
.p-e-header{
    display: flex;
    justify-content: space-between;
}
.p-e-header-name{
    color: red;
}
.p-e-header-viewbtn  a button{
    margin-left: 100px;
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.p-e-content{
    gap: 15px;
    padding: 2%;
    display: flex;
    flex-wrap: wrap;

}
.p-e-content div img {
    height: 180px;
    width: 180px;
    border-radius: 2px;
}
.main-aboutus{
    width:100%;
    background-color: black;
    color: white;
}
.m-a-header >h2{
    padding-top: 20px;
    text-align: center;
    font-size: 28px;
}
.m-a-content > p{
    padding: 20px 60px ;
}
.m-a-content-social-footer > p{
    text-align: center;
    font-size: 12px;
    padding-bottom: 22px;
}
.m-a-content-social-footer p a{
    color: blue;
    text-decoration: none;

}
.m-a-content-social-footer hr{
    margin: 20px 50px;
}

.m-a-content-social {
    color: white;
    display: flex;
    justify-content: space-around;
    line-height: 30px;
}  
.m-a-content-social a{
    color: white;
    text-decoration: none;
}  
.m-a-content-social a:hover{
    color: blue;
}  
.m-a-content-social a i{
    padding-right:10px ;
}  

.main-shortinfo{
    padding: 10px 30px;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.m-s-content{
    width: 80%;
    float: right;
}
.main-shortinfo .m-s-content{
    display: flex;
    gap: 5px;
}
.main-shortinfo i{
    font-size: 50px;
}
.main-shortinfo  img{
    width: 41px;
    height: 50px;
}