*{
    margin: 0;
    padding: 0;

}
.outer{
    border: 2px solid yellow;
    width: 100%;
    margin: 0%;
    padding: 0%;
}
.nav-bar{
   
    height: 40px;
    background-color: blue;
    padding: 10px;
    display: flex;
    justify-content:space-between;
    color: white;

}
.nav-bar-logo{
    width: 50%;
    color: white;
    height: 40px;
    font-size: 34px;
}
.nav-bar-others{
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding-right: 10px;
}

.loginbtn span a {
    color: white;
    height: 40px;
    align-items: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    justify-content: space-between;    
}
.cart-icon a i{
   
    
    height:40px;
    color: white;
    
    font-size: 30px;
}
.price{
    background-color: rgb(238, 223, 223);
    padding-top: 5px;
}
/* ------------------------------------------------------------ */
.main{
    
    height: calc(100%-20%);
    

}
.main-carousal{
    width: 100%;
    
    border: 2px solid purple;
}
  
.main-carousal{
    transition: 1s ease-in-out;
    animation: carousal 5s linear infinite;
}
@keyframes carousal {
    
}
.main-carousal > img {
    width: 100%;
    height: 150px;
    
}


.categories-header{
   text-align: center;

}
.categories-content  {
    gap: 15px;
    padding: 2%;
    display: flex;
    justify-content: center;
    
}
.categories-content > img{
    height: 150px;
    width: 150px;
    border-radius: 2px;

}
.p-newarrival{
    padding: 0px 20px;
    background-color: white;
}
.p-n-header{
    display: flex;
    justify-content: space-between;
}
.p-n-header-name{
    color: red;
}
.p-n-header-viewbtn a button{
    margin-left: 100px;
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.p-n-content{
    gap:10px;
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    
}
.p-n-content div img {
    height: 180px;
    width: 180px;
    border-radius: 2px;
}
.p-fan{
    padding: 0px 20px;
    background-color: white;
}
.p-f-header{
    display: flex;
    justify-content: space-between;
}
.p-f-header-name{
    color: red;
}
.p-f-header-viewbtn a button{
    margin-left: 100px;
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.p-f-content {
    gap: 10px;
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    
}
.p-f-content div img {
    height: 180px;
    width: 180px;
    border-radius: 2px;
}
.p-motor{
    padding: 0px 20px;
    background-color: white;
}
.p-m-header{
    display: flex;
    justify-content: space-between;
}
.p-m-header-name{
    color: red;
}
.p-m-header-viewbtn a button{
    margin-left: 100px;
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}
.p-m-content{
    gap: 10px;
    padding: 2%;
    display: flex;
    flex-wrap: wrap;

}
.p-m-content div img {
    height: 180px;
    width: 180px;
    border-radius: 2px;
}
.p-geyser{
    padding: 0px 20px;
    background-color: white;
}
.p-g-header{
    display: flex;
    justify-content: space-between;
}
.p-g-header-name{
    color: red;
}
.p-g-header-viewbtn a button{
    margin-left: 100px;
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.p-g-content{
    gap: 15px;
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    
}
.p-g-content div img {
    height: 180px;
    width: 180px;
    border-radius: 3px;
}
.p-electrickettle{
    padding: 0px 20px;
    background-color: white;

}
.p-e-header{
    display: flex;
    justify-content: space-between;
}
.p-e-header-name{
    color: red;
}
.p-e-header-viewbtn  a button{
    margin-left: 100px;
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.p-e-content{
    gap: 15px;
    padding: 2%;
    display: flex;
    flex-wrap: wrap;

}
.p-e-content div img {
    height: 180px;
    width: 180px;
    border-radius: 2px;
}
.main-aboutus{
    width:100%;
    background-color: black;
    color: white;
}
.m-a-header >h2{
    padding-top: 20px;
    text-align: center;
    font-size: 28px;
}
.m-a-content > p{
    padding: 20px 60px ;
}
.m-a-content-social-footer > p{
    text-align: center;
    font-size: 12px;
    padding-bottom: 22px;
}
.m-a-content-social-footer p a{
    color: blue;
    text-decoration: none;

}
.m-a-content-social-footer hr{
    margin: 20px 50px;
}

.m-a-content-social {
    color: white;
    display: flex;
    justify-content: space-around;
    line-height: 30px;
}  
.m-a-content-social a{
    color: white;
    text-decoration: none;
}  
.m-a-content-social a:hover{
    color: blue;
}  
.m-a-content-social a i{
    padding-right:10px ;
}  

.main-shortinfo{
    padding: 10px 30px;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.m-s-content{
    width: 80%;
    float: right;
}
.main-shortinfo .m-s-content{
    display: flex;
    gap: 5px;
}
.main-shortinfo i{
    font-size: 50px;
}
.main-shortinfo  img{
    width: 41px;
    height: 50px;
}